ipyvolume==0.6.0
rdkit==2023.3.1
py3Dmol==2.0.3
pyscf==2.2.1
pythreejs==2.4.2
Cube-Toolz @ git+https://github.com/funkymunkycool/Cube-Toolz.git@915ccf277a25e1c6996365954db592ab39855f6a
numpy==1.22.4
matplotlib==3.7.1
ipython==7.34.0
ipywidgets==7.7.1
termcolor==2.2.0
pathlib==1.0.1
pandas==1.5.3
jupyter
